{% extends "layout/base.html" %}

{% block title %}Home{% endblock %}

{% load static %}

{% block content %}
<div class="box_home">
    <h2 class="titulo_principal centrar">Pagina de Abouts</h2>
    <p class="centrar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, quod! Iure, tempore! Sed dignissimos id, voluptatum molestiae dolor nobis quaerat, repudiandae blanditiis repellat quod quo eum quam vitae veniam consequatur.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolore odio perferendis voluptates modi omnis ipsa iure, minima, voluptate cupiditate illo nemo quo ut quisquam, consequatur laboriosam nisi ipsum totam!
    </p>    
</div>
{% endblock %}