{% extends "layout/base.html" %}

{% block title %}About{% endblock %}

{% block content %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <!-- Bootstrap CSS -->
    <style>
        /* Estilo personalizado para ajustar el tamaño de las imágenes */
        .card-img-top {
            max-height: 200px; /* Ajusta la altura de la imagen en la tarjeta */
            object-fit: contain; /* Mantiene las proporciones de la imagen */
        }

        .carousel-item img {
            max-height: 200px; /* Ajusta la altura de las imágenes en el carrusel */
            object-fit: contain; /* Mantiene las proporciones de las imágenes */
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <!-- Título de la página -->
        <h1 class="mb-4 text-center titulo_principal centrar">Sobre esta Aplicación</h1>
        <!-- Fila para la tarjeta y el carrusel -->
        <div class="row">
            <!-- Columna de la tarjeta de información -->
            <div class="col-md-6">
                <div class="card shadow-sm mb-4">
                    <!-- Imagen de la tarjeta -->
                    <img src="{% static 'img/perfil_github.png' %}" class="card-img-top" alt="logo github">
                    <div class="card-body">
                        <!-- Descripción dentro de la tarjeta -->
                        <p class="card-text">El desarrollo de este proyecto ha sido realizado por Cristian Echevarria me puedes encontrar en github como <span><a href="https://github.com/Echxvx2610" target="_blank">https://github.com/Echxvx2610</a></span></p>
                        <!-- Descripción adicional -->
                        <p class="card-text">Aplicacion web creada con Django para el seguimiento de actividades y mantenimiento de feeders. En ella, se utilizaron sus funciones básicas de Django, Jinja2 para plantillas, y Bootstrap para estilos.</p>
                    </div>
                </div>
            </div>
            <!-- Columna del carrusel -->
            <div class="col-md-6">
                <!-- Carrusel de tecnologías -->
                <div id="carouselTech" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1000">
                    <div class="carousel-inner">
                        <!-- Imagen de Python -->
                        <div class="carousel-item active">
                            <img src="{% static 'img/python.svg' %}" class="d-block w-100" alt="Python">
                        </div>
                        <!-- Imagen de Django -->
                        <div class="carousel-item">
                            <img src="{% static 'img/django.svg' %}" class="d-block w-100" alt="Django">
                        </div>
                        <!-- Imagen de Jinja2 -->
                        <div class="carousel-item">
                            <img src="{% static 'img/jinja2.png' %}" class="d-block w-100" alt="Jinja2">
                        </div>
                        <!-- Imagen de Bootstrap -->
                        <div class="carousel-item">
                            <img src="{% static 'img/boostrap.png' %}" class="d-block w-100" alt="Bootstrap">
                        </div>
                    </div>
                    <!-- Controles de navegación del carrusel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselTech" data-bs-slide="prev" style="color: crimson;">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselTech" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


{% endblock  %}