{% extends "layout/base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}
<div class="my-5 registro">
    {% csrf_token %}
    <h1 class="centrar titulo_principal">Registro de Feeder</h1>
    <form id="formularioFeeder" class="row gx-3 gy-2 align-items-center" method="GET" action="/consultar/">
        <!-- ID Feeder para consultar datos-->
        <div class="col-md-6">
            <label for="data" class="form-label">Data</label>
            <input type="text" class="form-control" id="data" name="feeder_id" placeholder="Buscar por ID" maxlength="9"
                required>
        </div>

        <!-- Color de la Semana -->
        <div class="col-md-6">
            <label for="color-semana" class="form-label">Color Semana</label>
            <input type="text" class="form-control" id="color-semana" disabled />
        </div>

        <!-- ID_Feeder -->
        <div class="col-md-6">
            <label for="id-feeder" class="form-label">ID_Feeder</label>
            <input type="text" class="form-control" id="id-feeder" disabled />
        </div>
        <!-- Color Feeder -->
        <div class="col-md-6">
            <label for="color-feeder" class="form-label">Color Feeder</label>
            <input type="text" class="form-control" id="color-feeder" disabled />
        </div>

        <!-- Feeder -->
        <div class="col-md-6">
            <label for="feeder" class="form-label">Feeder</label>
            <input type="text" class="form-control" id="feeder" disabled />
        </div>
        <!-- Codigo Feeder -->
        <div class="col-md-6">
            <label for="codigo-feeder" class="form-label">Código Feeder</label>
            <input type="text" class="form-control" id="codigo-feeder" disabled />
        </div>
        <!-- Técnico -->
        <div class="col-md-6">
            <label for="tecnico" class="form-label">Técnico</label>
            <input type="text" class="form-control" id="tecnico" disabled />
        </div>

        <!-- Calibración -->
        <div class="col-md-6">
            <label class="form-label">Calibración</label>
            <canvas id="calibracion-canvas" class="w-100 border rounded" height="30"></canvas>
        </div>

        <!-- Status -->
        <div class="col-md-6">
            <label class="form-label">Status</label>
            <canvas id="status-canvas" class="w-100 border rounded" height="30"></canvas>
        </div>

        <!-- CP -->
        <div class="col-md-6">
            <label for="CP" class="form-label">CP</label>
            <select id="CP" class="form-select">
                <option value="NG">NG</option>
                <option value="OK">OK</option>
            </select>
        </div>

        <!-- QP -->
        <div class="col-md-6">
            <label for="QP" class="form-label">QP</label>
            <select id="QP" class="form-select">
                <option value="NG">NG</option>
                <option value="OK">OK</option>
            </select>
        </div>

        <!-- Hover -->
        <div class="col-md-6">
            <label for="HOVER" class="form-label">Hover</label>
            <select id="HOVER" class="form-select">
                <option value="NG">NG</option>
                <option value="OK">OK</option>
            </select>
        </div>

        <!-- BFC -->
        <div class="col-md-6">
            <label for="BFC" class="form-label">BFC</label>
            <select id="BFC" class="form-select">
                <option value="NG">NG</option>
                <option value="OK">OK</option>
            </select>
        </div>

        <!-- Tiempo de Captura -->
        <!-- 
        <div class="col-6">
            <label for="time">Tiempo de Captura</label>
            <input type="text" id="time" value="00:00:00" class="form-control" disabled />
        </div> 
        -->

        <!-- Boton de Calibrar y Reset  -->
        <div class="col-6 text-center gap-2 botones">
            <button type="submit" class="btn btn-primary" id="calibrar-btn"
                style="padding:10px; margin: 0 20px; width: 130px;">Calibrar</button>
            <button type="reset" class="btn btn-danger" id="reset-btn"
                style="padding:10px; margin:0 20px; width: 130px;">Reset</button>
        </div>

        <!-- Observaciones -->
        <div class="col-12">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea type="text" id="observaciones" rows="4" class="form-control"></textarea>
        </div>

        <!-- Footer -->
        <div class="col-12 text-center mt-3">
            <p class="text-muted">Created by: Cristian Echevarria</p>
        </div>
    </form>
</div>

<script>
    // Función para obtener el valor de una cookie
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Comprueba si esta cookie empieza con el nombre que buscamos
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    let cronometroId;  // Almacenaremos el ID del cronómetro en esta variable
    let elapsedTime = 0;  // Variable para almacenar el tiempo transcurrido en segundos
    let timerInterval;    // Intervalo para el cronómetro
    let isTimerRunning = false;  // Indicador de si el cronómetro está corriendo

    function startTimer(feederId) {
        if (isTimerRunning) return;

        // Obtener el tiempo de inicio actual en formato timestamp (segundos desde la época)
        let tiempo_inicio = Math.floor(Date.now() / 1000); // Convierte el tiempo actual a timestamp

        // Enviar la solicitud para iniciar el cronómetro con datos en el cuerpo
        fetch('/iniciar_cronometro/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCookie('csrftoken'),
            },
            body: JSON.stringify({
                "id-feeder": feederId,
                "tiempo_inicio": tiempo_inicio,
            })
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    cronometroId = data.id;  // Asegúrate de guardar el ID recibido
                    console.log('Cronómetro iniciado con ID:', cronometroId);
                    isTimerRunning = true;
                } else {
                    console.error('Error al iniciar el cronómetro:', data.message);
                }
            })
            .catch(error => {
                console.error('Error al iniciar cronómetro:', error);
                showAlert('Error', 'No se pudo iniciar el cronómetro.', 'error');
            });
    }

    // Función para detener el cronómetro y devolver el tiempo total
    function stopTimer() {
        return new Promise((resolve, reject) => {
            if (isTimerRunning) {
                isTimerRunning = false;

                fetch(`/detener_cronometro/${cronometroId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            const tiempoCaptura = data.tiempo_captura;  // Tiempo en segundos con decimales
                            console.log("Tiempo de captura en segundos:", tiempoCaptura);

                            // Convertir los segundos decimales a formato HH:mm:ss
                            const horas = Math.floor(tiempoCaptura / 3600); // Calcula las horas
                            const minutos = Math.floor((tiempoCaptura % 3600) / 60); // Calcula los minutos restantes
                            const segundos = Math.floor(tiempoCaptura % 60); // Calcula los segundos restantes

                            // Formatear el tiempo en HH:mm:ss
                            const tiempoFormateado = `${pad(horas)}:${pad(minutos)}:${pad(segundos)}`;

                            // Resolver la promesa con el tiempo formateado
                            resolve(tiempoFormateado);
                        } else {
                            console.error('Error al detener el cronómetro:', data.error);
                            reject('Error al detener el cronómetro');
                        }
                    })
                    .catch(error => {
                        console.error('Error al detener cronómetro:', error);
                        reject('Error al detener cronómetro');
                    });
            } else {
                reject('Cronómetro no estaba corriendo');
            }
        });
    }

    function pad(number) {
        return number < 10 ? '0' + number : number;
    }

    // Función para manejar el evento de teclado en data
    let debounceTimeout;

    document.getElementById('data').addEventListener('keydown', function (event) {
        if (event.key === 'Enter') {
            event.preventDefault();
            clearTimeout(debounceTimeout);
            debounceTimeout = setTimeout(fetchFeederInfo, 300);
        }
    });

    function showAlert(title, message, icon = 'info') {
        Swal.fire({
            title: title,
            text: message,
            icon: icon,
            confirmButtonText: 'Aceptar',
        });
    }

    // Función para obtener los datos de un feeder comunicando con el backend
    function fetchFeederInfo() {
        const feederId = document.getElementById('data').value.trim();

        if (!feederId) {
            showAlert('Campo vacío', 'Por favor, introduce un ID de feeder', 'warning');
            return;
        }

        fetch(`/consultar/?feeder_id=${feederId}`, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 500) {
                        throw new Error('Feeder no encontrado. Introduce un ID de feeder correcto');
                    } else if (response.status === 400) {
                        throw new Error('Introduce un valor numérico para el ID de feeder');
                    } else {
                        throw new Error(`Error: ${response.statusText}`);
                    }
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    showAlert('Error', data.error, 'error');
                    return;
                }

                document.getElementById('id-feeder').value = data.id_feeder || '';
                document.getElementById('feeder').value = data.feeder || '';
                document.getElementById('color-feeder').value = data.color_feeder || '';
                document.getElementById('codigo-feeder').value = data.codigo_feeder || '';
                document.getElementById('color-semana').value = data.color_semana || '';

                // Cambiar color de la barra de estado según valor_celda
                const statusCanvas = document.getElementById('status-canvas');
                const ctx = statusCanvas.getContext('2d');
                const calibracionCanvas = document.getElementById('calibracion-canvas');
                const ctx2 = calibracionCanvas.getContext('2d');

                ctx2.clearRect(0, 0, calibracionCanvas.width, calibracionCanvas.height);
                ctx.clearRect(0, 0, statusCanvas.width, statusCanvas.height);  // Limpiar el canvas

                if (data.valor_celda === "OK") {
                    ctx.fillStyle = 'lawngreen';
                } else {
                    ctx.fillStyle = 'crimson';
                }

                ctx.fillRect(0, 0, statusCanvas.width, statusCanvas.height);  // Dibujar la barra de estado

                // Iniciar el cronómetro pasando el feederId
                startTimer(feederId);  // Llamamos a startTimer pasando el feederId obtenido
            })
            .catch(error => {
                console.error('Error:', error);
                showAlert('Error', error.message, 'error');
            });
    }

    // Función para manejar el evento de cambio en los selects
    function handleSelectChange(event) {
        // Obtener todos los selects
        const selects = document.querySelectorAll('.form-select');

        // Verificar si el valor seleccionado es "OK"
        if (event.target.value === "OK") {
            // Si se selecciona "OK", deshabilitar los otros selects
            selects.forEach(select => {
                if (select !== event.target) {
                    select.disabled = true;
                }
            });
        } else {
            // Si se selecciona "NG" en el select actual, habilitar todos los selects
            selects.forEach(select => {
                select.disabled = false;
            });
        }
    }

    // Agregar el evento de cambio a todos los selects
    document.querySelectorAll('.form-select').forEach(select => {
        select.addEventListener('change', handleSelectChange);
    });

    // Función para recolectar los datos del formulario
    function recolectarDatosFormulario(event) {
        event.preventDefault();  // Evita que el formulario se envíe automáticamente
        const formulario = document.getElementById('formularioFeeder');

        if (!formulario) {
            console.error("Formulario no encontrado. Verifica que el ID sea correcto.");
            return;
        }

        const datosFormulario = {};
        let todosNG = true;
        let camposVacios = [];

        // Recopilar los datos del formulario
        Array.from(formulario.elements).forEach(element => {
            if (element.id && (element.type === 'text' || element.type === 'select-one' || element.tagName === 'TEXTAREA')) {
                datosFormulario[element.id] = element.value;
                if (element.type === 'select-one' && element.value === 'OK') {
                    todosNG = false;
                }
                if (element.value.trim() === '' && element.id !== 'tecnico') {
                    camposVacios.push(element.id);
                }
            }
        });

        // Incluir el tiempo de captura (en segundos) en el objeto de datos
        datosFormulario['tiempo_captura'] = elapsedTime; // El tiempo transcurrido en segundos

        if (camposVacios.length > 0 || !datosFormulario['data'] || datosFormulario['data'].trim() === '') {
            let mensajeError = 'Por favor, completa todos los campos obligatorios.';
            if (camposVacios.length > 0) {
                mensajeError += `\nCampos faltantes: ${camposVacios.join(', ')}`;
            }
            Swal.fire({
                title: 'Error',
                text: mensajeError,
                icon: 'error',
                confirmButtonText: 'Aceptar',
            });
            return;
        }

        if (todosNG) {
            Swal.fire({
                title: 'Error',
                text: 'Al menos un tipo de feeder debe ser "OK".',
                icon: 'error',
                confirmButtonText: 'Aceptar',
            });
            return;
        }

        const tecnicoInput = document.getElementById('tecnico');

        if (!datosFormulario['tecnico'] || datosFormulario['tecnico'].trim() === '') {
            // Habilitamos el campo técnico para que el usuario lo complete
            tecnicoInput.disabled = false;
            Swal.fire({
                title: 'Ingrese su número de empleado',
                input: 'text',
                showCancelButton: true,
                inputValidator: (value) => {
                    if (!value) {
                        return '¡Por favor ingrese el número de empleado!';
                    }
                    if (value.length > 7) {
                        return 'El número de empleado no puede tener más de 7 dígitos.';
                    }
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Asignamos el valor al campo técnico
                    tecnicoInput.value = result.value;
                    tecnicoInput.disabled = true; // Deshabilitamos de nuevo el campo

                    datosFormulario['tecnico'] = result.value; // Guardamos el valor en el objeto
                    // agregar tiempo de captura en segundos
                    datosFormulario['time'] = elapsedTime;
                    enviarDatos(datosFormulario);
                }
            });
        } else {
            enviarDatos(datosFormulario);
            // imprimimos en la consola el objeto de datos
            console.log(datosFormulario);
        }
    }

    // Función que se ejecuta cuando se envían los datos
    async function enviarDatos(datosFormulario) {
        try {
            const response = await fetch('/registro/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),  // Obtener el token CSRF
                },
                body: JSON.stringify(datosFormulario),
            });
            const data = await response.json();

            if (data.success) {
                Swal.fire({
                    title: 'Éxito',
                    text: 'Reporte generado exitosamente',
                    icon: 'success',
                    confirmButtonText: 'Aceptar',
                }).then(async () => {
                    // Detener el cronómetro y obtener el tiempo total
                    try {
                        const tiempoCaptura = await stopTimer();  // Esperar a que la promesa se resuelva

                        // Mostrar la alerta con el tiempo total de captura
                        Swal.fire({
                            title: 'Tiempo Total de Captura',
                            text: `El tiempo total de captura fue: ${tiempoCaptura}`,
                            icon: 'info',
                            confirmButtonText: 'Aceptar',
                        });

                    } catch (error) {
                        console.error('Error al detener el cronómetro:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al detener el cronómetro.',
                            icon: 'error',
                            confirmButtonText: 'Aceptar',
                        });
                    }

                    // Aquí van el resto de las acciones, como cambiar el color del canvas, restablecer el formulario, etc.
                    // (esto ya lo tenías en tu código original)
                });
            } else {
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'Aceptar',
                }).then(() => {
                    const tecnicoInput = document.getElementById('tecnico');
                    tecnicoInput.disabled = false;  // Habilitar para que el usuario lo intente de nuevo
                    tecnicoInput.value = '';  // Limpiar el valor
                });
            }
        } catch (error) {
            console.error('Error en la solicitud:', error);
            Swal.fire({
                title: 'Error',
                text: 'Ocurrió un error al procesar los datos.',
                icon: 'error',
                confirmButtonText: 'Aceptar',
            });
        }
    }

    // Agregar evento al botón Calibrar
    document.getElementById('calibrar-btn').addEventListener('click', recolectarDatosFormulario);

    // Agregar evento al botón Reset
    document.getElementById('reset-btn').addEventListener('click', function (event) {
        event.preventDefault();  // Evita el comportamiento de reinicio por defecto

        const formulario = document.getElementById('formularioFeeder');

        if (!formulario) {
            console.error("Formulario no encontrado. Verifica que el ID sea correcto.");
            return;
        }

        // Limpiar campos de texto y selects
        Array.from(formulario.elements).forEach(element => {
            if (element.type === 'text') {
                element.value = '';  // Limpiar los campos de texto
            } else if (element.type === 'select-one') {
                element.value = 'NG';  // Restablecer selects a "NG"
                element.disabled = false;  // Habilitar los selects nuevamente
            } else if (element.tagName === 'TEXTAREA') {
                element.value = '';
            }
        });

        // Restablecer el color del canvas de status
        const canvasStatus = document.getElementById('status-canvas');
        if (canvasStatus) {
            const ctx = canvasStatus.getContext('2d');
            ctx.clearRect(0, 0, canvasStatus.width, canvasStatus.height);  // Limpia el canvas
        }

        // Limpiar el canvas de calibración
        const canvasCalibracion = document.getElementById('calibracion-canvas');
        if (canvasCalibracion) {
            const ctx = canvasCalibracion.getContext('2d');
            ctx.clearRect(0, 0, canvasCalibracion.width, canvasCalibracion.height);  // Limpia el canvas
        }

        // Detener el cronómetro y restablecer el tiempo
        stopTimer();  // Detener el cronómetro
        //elapsedTime = 0;  // Restablecer el tiempo acumulado a 0
        //document.getElementById('time').value = "00:00:00";  // Resetear el campo de tiempo en la interfaz
        //time_lap = "00:00:00";
        // Mensaje opcional de confirmación de reseteo usando SweetAlert
        Swal.fire({
            title: 'Formulario reiniciado',
            text: 'Todos los campos se han restablecido y el cronómetro ha sido detenido.',
            icon: 'success',
            confirmButtonText: 'Aceptar',
        });
    });

</script>
{% endblock %}