<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- estilos propios -->
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- sweetalert2 -->
    <script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.4/dist/sweetalert2.all.min.js
"></script>
    <link href="
https://cdn.jsdelivr.net/npm/sweetalert2@11.14.4/dist/sweetalert2.min.css
" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
{% load static %}

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid base">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'img\logo_navico.png' %}" alt="Logo" width="90" height="35"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'consultar' %}"><i
                                class="bi bi-file-earmark-spreadsheet-fill"></i> Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'analisis' %}"><i class="bi bi-bar-chart-fill"></i>
                            Analisis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reparaciones' %}"><i class="bi bi-tools"></i> Reparaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reportes' %}"><i class="bi bi-file-earmark-person-fill"></i>
                            Reportes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventario' %}"><i class="bi bi-box-seam-fill"></i></i>
                            Inventario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}"><i class="bi bi-info-circle-fill"></i> Info</a>
                    </li>
                </ul>
                <form class="d-flex ms-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar feeder por ID"
                        aria-label="Buscar">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        <!-- Contenido principal aquí -->
        {% endblock %}
    </div>
</body>

</html>